In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
# Visualizando Cj dados
dados = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_brutos.csv',
                       sep =',')

In [4]:
dados.head()

                coluna1                                            coluna2
0  Latam Airlines (Tam)  Oi, latam! Tudo bom? Venho aqui suplicar a vcs...
1    Azul Linhas Aéreas  Estava olhando algumas passagens e decidi comp...
2    Azul Linhas Aéreas  Gostaria de solicitar a revisão de uma situaçã...
3                 Cemig             Qual a documentação para ligação nova?
4  Latam Airlines (Tam)  Comprei um voo com a Latam para o dia 01/11 sa...

In [6]:
dados.shape

(40040, 2)