# <font color = 'red'> Análise Exploratória Inicial </font>

### <font color = 'red'> Foco em entender melho a estrutura dos dados e escolher a empresa e problema de negócio </font>

In [ ]:
# Imports

import os
import numpy as np
import pandas as pd

In [2]:
# Visualizando Cj dados
dados = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_brutos.csv',
                       sep =',')

In [4]:
dados.head(20)

,Empresa,Relato
0,Cemig,Preciso do formulário para análise de carga ru...
1,Cemig,De que maneira será realizado o recadastrament...
2,Cemig,Qual é a bandeira tarifária em vigor atualment...
3,Equatorial Maranhão (CEMAR),Cadastro de tarifa social. NIS: XXX.XXX.XXX-XX...
4,Cemig,Qual a documentação para troca de titularidade?
5,Cemig,Como faço para falar com a cemig estando fora ...
6,Cemig,Como obter suporte de atendimento nos canais d...
7,Cemig,Como obter suporte de atendimento nos canais d...
8,Cemig,Do que se trata o novo investimento da Cemig? ...
9,Vivo - Telefônica,"Em XXXXX-XXXXXX-X024, recebi contato por Whats..."
10,Equatorial Maranhão (CEMAR),Tentei por duas vezes trocar a titularidade da...
11,iFood,Fiz um pedido de dois cachorros quentes no cac...
12,iFood,"pedido numero 4361, entregue em 28/10/2024. Ve..."
13,Cemig,Quem define a data de vencimento da minha cont...
14,Cemig,Quem define a data de vencimento da minha cont...
15,Cemig,Como fico sabendo sobre desligamento programado?
16,Cemig,O que seria o maior investimento da história e...
17,Cemig,Como fico sabendo sobre desligamento programado?
18,Cemig,O que seria o maior investimento da história e...
19,SPC Brasil,Acionei por meio dos canais se atendimento par...

In [7]:
dados.Empresa.value_counts().reset_index().head(10)

                Empresa  count
0       Serasa Experian    440
1  Latam Airlines (Tam)    360
2     Vivo - Telefônica    302
3    Azul Linhas Aéreas    260
4                Google    223
5                Nubank    222
6                   Tim    211
7         Claro Celular    210
8       Banco do Brasil    203
9   Hurb - Hotel Urbano    180

In [39]:
dados.shape

(8330, 2)

In [40]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8330 entries, 0 to 8329
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Empresa  8330 non-null   object
 1   Relato   8330 non-null   object
dtypes: object(2)
memory usage: 130.3+ KB