# <font color = 'red'> Pré Processamento e Engenharia de Atributos</font>

### <font color = 'red'> Foco: </font>

- Pré processar o texto para a etapa de análise de sentimentos

- Remoção de stopwords e outros, para verificar ocorrência

In [18]:
# Imports
import os
import re
import numpy as np
import pandas as pd

In [3]:
dados = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_brutos.csv',
                       sep =',')

In [4]:
dados.head()

,Empresa,Relato
0,Cemig,Preciso do formulário para análise de carga ru...
1,Cemig,De que maneira será realizado o recadastrament...
2,Cemig,Qual é a bandeira tarifária em vigor atualment...
3,Equatorial Maranhão (CEMAR),Cadastro de tarifa social. NIS: XXX.XXX.XXX-XX...
4,Cemig,Qual a documentação para troca de titularidade?

In [13]:
instituicoes_financeiras = ['Nubank',
              'Banco do Brasil',
              'Caixa Econômica Federal',
              'Banco Santander',
              'Banco Itaú Unibanco',
              'Mercado Pago',
              'Banco Inter (Banco Intermedium)',
              'Banco Bradesco',
              'C6 Bank']

In [14]:
# Selecionando apenas instituições financeiras

dados_financeiro = dados[dados['Empresa'].isin(instituicoes_financeiras)]

In [16]:
#Verificando ocorrências

dados_financeiro.Empresa.value_counts().reset_index(name='Quantidade Relatos')

                           Empresa  Quantidade Relatos
0                           Nubank                 222
1                  Banco do Brasil                 203
2          Caixa Econômica Federal                 151
3                  Banco Santander                 117
4              Banco Itaú Unibanco                 116
5                     Mercado Pago                  99
6  Banco Inter (Banco Intermedium)                  92
7                   Banco Bradesco                  75
8                          C6 Bank                  41

In [17]:
dados_financeiro.head(10)

,Empresa,Relato
165,Nubank,"Renegociei a dívida do cartão , foi pago a ent..."
172,Nubank,Na data de hoje verifiquei que meu nome está r...
178,Nubank,No mês de agosto de 2024 fiz um acordo com a n...
181,Nubank,Realizei acordo e pagamento dos valores devido...
192,Banco Santander,Minha reclamação é que o banco Santander me of...
243,Caixa Econômica Federal,"NA VERDADE A CAIXA É DO GOVERNO, NOSSA. MAS QU..."
269,Banco Itaú Unibanco,Após inúmeros contatos para regularizar o débi...
287,Nubank,Verifiquei que meu nome consta na lista do SCR...
306,Mercado Pago,"Preliminarmente, considerando que este documen..."
320,Nubank,Já efetuei acordo da dívida pelo Serasa e mesm...

### Remoção de pontuações e deixando o texto em caixa baixa