# <font color = 'red'> Pré Processamento e Engenharia de Atributos</font>

### <font color = 'red'> Foco: </font>

- Pré processar o texto para a etapa de análise de sentimentos

- Remoção de stopwords e outros, para verificar ocorrência

In [28]:
# Imports
import os
import re
import numpy as np
import pandas as pd

from nltk.corpus import stopwords
from nltk.tokenize import WordPunctTokenizer




import warnings
warnings.filterwarnings('ignore')

In [3]:
# Visualizando Cj dados
dados = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/data_scraping_bruto.csv',
                       sep =',')

In [4]:
dados.head()

,Empresa,Relato,Avaliacao
0,Serasa Experian,C. A legislação consumerista (à luz da qual de...,Nota 5
1,Serasa Experian,Solicito a baixa dos meus dados junto ao SERAS...,Nota 1
2,Serasa Experian,Eu solicito a limpeza em seus cadastros,Nota 5
3,Latam Airlines (Tam),"Prezados, apesar de ser cliente da categoria g...",Nota 5
4,Serasa Experian,Em 04/11/2024 verifiquei o extrato da conta co...,Nota 1

In [5]:
instituicoes_financeiras = ['Nubank',
              'Banco do Brasil',
              'Caixa Econômica Federal',
              'Banco Santander',
              'Banco Itaú Unibanco',
              'Mercado Pago',
              'Banco Inter (Banco Intermedium)',
              'Banco Bradesco',
              'C6 Bank']

In [6]:
# Selecionando apenas instituições financeiras

dados_financeiros = dados[dados['Empresa'].isin(instituicoes_financeiras)]

In [7]:
#Verificando ocorrências

dados_financeiros.Empresa.value_counts().reset_index(name='Quantidade Relatos')

                           Empresa  Quantidade Relatos
0                           Nubank                 484
1                  Banco do Brasil                 365
2          Caixa Econômica Federal                 242
3                  Banco Santander                 212
4              Banco Itaú Unibanco                 142
5                     Mercado Pago                 139
6                   Banco Bradesco                 137
7  Banco Inter (Banco Intermedium)                 127
8                          C6 Bank                  72

In [8]:
dados_financeiros.head(10)

,Empresa,Relato,Avaliacao
23,Caixa Econômica Federal,Não consigo crédito pra fazer um empréstimo me...,Nota 3
41,Nubank,ja houve o pagamento da negociacao,Nota 2
45,Nubank,Exclusao do nome Retirar negativacao do nome s...,Nota 1
49,C6 Bank,"Sou cliente do C6 Bank há tempos, sempre mante...",Nota 1
52,Nubank,Gostaria de reclamar sobre essa dívida quer Es...,Nota 5
58,Banco Itaú Unibanco,O Itaú financiamentos fez Constar na SCR Uma l...,Nota 1
59,Nubank,Eu fiz um acordo para pagamento da minha dívid...,Nota 3
69,Banco Itaú Unibanco,"Primeiramente quero agradecer o banco itau, po...",Nota 5
73,Nubank,Reclamação Nubank Gostaria de registrar minha ...,Nota 1
81,Caixa Econômica Federal,Desejo participar do mutirão de renegociação.,Nota 1

In [14]:
dados_financeiros['Avaliacao'] = dados_financeiros['Avaliacao'].str.extract(r'(\d+)')

In [15]:
dados_financeiros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1920 entries, 23 to 10929
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Empresa    1920 non-null   object
 1   Relato     1920 non-null   object
 2   Avaliacao  1920 non-null   object
dtypes: object(3)
memory usage: 60.0+ KB

### <font color='green'> Remoção de pontuações e deixando o texto em caixa baixa

In [16]:
def processa_sentimento(text):
 # Minuscula
 text = text.lower()

 # retirando pontuações, exceto "."
 text = re.sub(r'[^\w\s.]', '', text)

 return text

In [17]:
dados_financeiros['Relato'] = dados_financeiros['Relato'].apply(processa_sentimento)

In [18]:
dados_financeiros.sample(5)

,Empresa,Relato,Avaliacao
9454,Caixa Econômica Federal,venho pela segunda vez reclamar da caixa econô...,5
7236,Banco do Brasil,estou inadinplente no bbb mas eu fiz uma negoc...,1
7816,Banco Inter (Banco Intermedium),prezados o banco inter depois de tudo que me f...,1
2172,Banco do Brasil,o valor do juros e multa é abusivo impossível ...,1
4837,Caixa Econômica Federal,eu quero que parem de me ligar e fazer ameças,1

In [19]:
dados_financeiros.to_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_financeiros_sentimentos.csv',
                       sep =',', index = False, encoding = 'utf-8')

### <font color='green'> Pré processamento para frequência - TF IDF

- Retirando NoAscii

In [20]:
def removeNoascii(s):
 return "".join(i for i in s if ord(i) < 128)

# Remove características non-ascii
dados_financeiros['Relato'] = dados_financeiros['Relato'].map(lambda x: removeNoascii(x))

In [22]:
dados_financeiros.Relato.head()

23    no consigo crdito pra fazer um emprstimo meu n...
41                   ja houve o pagamento da negociacao
45    exclusao do nome retirar negativacao do nome s...
49    sou cliente do c6 bank h tempos sempre mantend...
52    gostaria de reclamar sobre essa dvida quer est...
Name: Relato, dtype: object

- Tokennizando os textos

In [ ]:
tokenizer = WordPunctTokenizer()

def tokeniza(texto):
 [word_tokenize(frase) for frase in sent_tokenize(texto)]

dados_financeiros['Relato'] = dados_financeiros['Relato'].map(lambda x: removeNoascii(x))
[word_tokenize(frase) for frase in sent_tokenize(texto)]

- Retirando StopWord

In [23]:
stopwords_PT = set(stopwords.words("portuguese"))

In [ ]:
stopwords_PT

{'a',
 'ao',
 'aos',
 'aquela',
 'aquelas',
 'aquele',
 'aqueles',
 'aquilo',
 'as',
 'até',
 'com',
 'como',
 'da',
 'das',
 'de',
 'dela',
 'delas',
 'dele',
 'deles',
 'depois',
 'do',
 'dos',
 'e',
 'ela',
 'elas',
 'ele',
 'eles',
 'em',
 'entre',
 'era',
 'eram',
 'essa',
 'essas',
 'esse',
 'esses',
 'esta',
 'estamos',
 'estar',
 'estas',
 'estava',
 'estavam',
 'este',
 'esteja',
 'estejam',
 'estejamos',
 'estes',
 'esteve',
 'estive',
 'estivemos',
 'estiver',
 'estivera',
 'estiveram',
 'estiverem',
 'estivermos',
 'estivesse',
 'estivessem',
 'estivéramos',
 'estivéssemos',
 'estou',
 'está',
 'estávamos',
 'estão',
 'eu',
 'foi',
 'fomos',
 'for',
 'fora',
 'foram',
 'forem',
 'formos',
 'fosse',
 'fossem',
 'fui',
 'fôramos',
 'fôssemos',
 'haja',
 'hajam',
 'hajamos',
 'havemos',
 'haver',
 'hei',
 'houve',
 'houvemos',
 'houver',
 'houvera',
 'houveram',
 'houverei',
 'houverem',
 'houveremos',
 'houveria',
 'houveriam',
 'houvermos',
 'houverá',
 'houverão',
 'houveríamos',
 'houvesse',
 'houvessem',
 'houvéramos',
 'houvéssemos',
 'há',
 'hão',
 'isso',
 'isto',
 'já',
 'lhe',
 'lhes',
 'mais',
 'mas',
 'me',
 'mesmo',
 'meu',
 'meus',
 'minha',
 'minhas',
 'muito',
 'na',
 'nas',
 'nem',
 'no',
 'nos',
 'nossa',
 'nossas',
 'nosso',
 'nossos',
 'num',
 'numa',
 'não',
 'nós',
 'o',
 'os',
 'ou',
 'para',
 'pela',
 'pelas',
 'pelo',
 'pelos',
 'por',
 'qual',
 'quando',
 'que',
 'quem',
 'se',
 'seja',
 'sejam',
 'sejamos',
 'sem',
 'ser',
 'serei',
 'seremos',
 'seria',
 'seriam',
 'será',
 'serão',
 'seríamos',
 'seu',
 'seus',
 'somos',
 'sou',
 'sua',
 'suas',
 'são',
 'só',
 'também',
 'te',
 'tem',
 'temos',
 'tenha',
 'tenham',
 'tenhamos',
 'tenho',
 'terei',
 'teremos',
 'teria',
 'teriam',
 'terá',
 'terão',
 'teríamos',
 'teu',
 'teus',
 'teve',
 'tinha',
 'tinham',
 'tive',
 'tivemos',
 'tiver',
 'tivera',
 'tiveram',
 'tiverem',
 'tivermos',
 'tivesse',
 'tivessem',
 'tivéramos',
 'tivéssemos',
 'tu',
 'tua',
 'tuas',
 'tém',
 'tínhamos',
 'um',
 'uma',
 'você',
 'vocês',
 'vos',
 'à',
 'às',
 'é',
 'éramos'}

In [27]:
# Aplicando filtro de Stopwords na coluna Relatos

texto_teste = ["arroz é bom mesmo"]

[palavra for palavra in texto_teste if palavra not in stopwords_PT]

['arroz é bom mesmo']