# <font color = 'red'> Pré Processamento e Engenharia de Atributos</font>

### <font color = 'red'> Foco: </font>

- Pré processar o texto para a etapa de análise de sentimentos

- Remoção de stopwords e outros, para verificar ocorrência

In [ ]:
# Imports
import os
import re
import numpy as np
import pandas as pd

from nltk.corpus import stopwords
from nltk.tokenize import WordPunctTokenizer
from nltk.tokenize import word_tokenize

import spacy



import warnings
warnings.filterwarnings('ignore')

In [65]:
# Visualizando Cj dados
dados = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/data_scraping_bruto.csv',
                       sep =',')

In [66]:
dados.head()

,Empresa,Relato,Avaliacao
0,Serasa Experian,C. A legislação consumerista (à luz da qual de...,Nota 5
1,Serasa Experian,Solicito a baixa dos meus dados junto ao SERAS...,Nota 1
2,Serasa Experian,Eu solicito a limpeza em seus cadastros,Nota 5
3,Latam Airlines (Tam),"Prezados, apesar de ser cliente da categoria g...",Nota 5
4,Serasa Experian,Em 04/11/2024 verifiquei o extrato da conta co...,Nota 1

In [67]:
instituicoes_financeiras = ['Nubank',
              'Banco do Brasil',
              'Caixa Econômica Federal',
              'Banco Santander',
              'Banco Itaú Unibanco',
              'Mercado Pago',
              'Banco Inter (Banco Intermedium)',
              'Banco Bradesco',
              'C6 Bank']

In [68]:
# Selecionando apenas instituições financeiras

dados_financeiros = dados[dados['Empresa'].isin(instituicoes_financeiras)]

In [69]:
#Verificando ocorrências

dados_financeiros.Empresa.value_counts().reset_index(name='Quantidade Relatos')

                           Empresa  Quantidade Relatos
0                           Nubank                 484
1                  Banco do Brasil                 365
2          Caixa Econômica Federal                 242
3                  Banco Santander                 212
4              Banco Itaú Unibanco                 142
5                     Mercado Pago                 139
6                   Banco Bradesco                 137
7  Banco Inter (Banco Intermedium)                 127
8                          C6 Bank                  72

In [70]:
dados_financeiros.head(5)

,Empresa,Relato,Avaliacao
23,Caixa Econômica Federal,Não consigo crédito pra fazer um empréstimo me...,Nota 3
41,Nubank,ja houve o pagamento da negociacao,Nota 2
45,Nubank,Exclusao do nome Retirar negativacao do nome s...,Nota 1
49,C6 Bank,"Sou cliente do C6 Bank há tempos, sempre mante...",Nota 1
52,Nubank,Gostaria de reclamar sobre essa dívida quer Es...,Nota 5

In [71]:
dados_financeiros['Avaliacao'] = dados_financeiros['Avaliacao'].str.extract(r'(\d+)')

In [72]:
dados_financeiros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1920 entries, 23 to 10929
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Empresa    1920 non-null   object
 1   Relato     1920 non-null   object
 2   Avaliacao  1920 non-null   object
dtypes: object(3)
memory usage: 60.0+ KB

### <font color='green'> Remoção de pontuações e deixando o texto em caixa baixa

In [73]:
def processa_sentimento(text):
 # Minuscula
 text = text.lower()

 # retirando pontuações, exceto "."
 text = re.sub(r'[^\w\s.]', '', text)

 return text

In [74]:
dados_financeiros['Relato'] = dados_financeiros['Relato'].apply(processa_sentimento)

In [75]:
dados_financeiros.sample(5)

,Empresa,Relato,Avaliacao
4344,Caixa Econômica Federal,peço o cancelamento desse serviço por não muit...,5
4977,Banco Inter (Banco Intermedium),protocolo anterior nenhuma das reclamações for...,1
494,Nubank,estou com o nome limpo e não consigo fazer car...,1
2006,Caixa Econômica Federal,meu contrato do empréstimo consignado da caixa...,5
9005,Mercado Pago,efetuado consulta no registrato do banco centr...,5

In [76]:
dados_financeiros.to_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_financeiros_sentimentos.csv',
                       sep =',', index = False, encoding = 'utf-8')

### <font color='green'> Pré processamento para frequência - TF IDF e Collocations

- Tokennizando os textos

In [77]:
word_tokenize("Data Science Academy 2024")

['Data', 'Science', 'Academy', '2024']

In [79]:
# Carregar modelo em português
lematizacao = spacy.load("pt_core_news_sm") 

# Aplicar lematização em cada relato
dados_financeiros['Relato_Lematizado'] = dados_financeiros['Relato'].apply(lambda tokens: [token.lemma_ for token in lematizacao(" ".join(tokens))])

In [81]:
nlp = spacy.load("pt_core_news_sm")

# Função para lematizar uma frase completa
def lematizar_frase(frase):
    doc = nlp(frase)
    return " ".join([token.lemma_ for token in doc])

dados_financeiros['Relato_Lematizado'] = dados_financeiros['Relato'].apply(lematizar_frase)

# Exibir o DataFrame resultante
print(dados_financeiros[['Empresa', 'Relato', 'Avaliacao', 'Relato_Lematizado']])

                       Empresa  \
23     Caixa Econômica Federal
41                      Nubank
45                      Nubank
49                     C6 Bank
52                      Nubank
...                        ...
10910      Banco Itaú Unibanco
10912      Banco Itaú Unibanco
10923                  C6 Bank
10924           Banco Bradesco
10929  Caixa Econômica Federal

                                                  Relato Avaliacao  \
23     não consigo crédito pra fazer um empréstimo me...         3
41                    ja houve o pagamento da negociacao         2
45     exclusao do nome retirar negativacao do nome s...         1
49     sou cliente do c6 bank há tempos sempre manten...         1
52     gostaria de reclamar sobre essa dívida quer es...         5
...                                                  ...       ...
10910  solicitando a retirada da restrição de apontam...         4
10912  estou com dificuldade para redefinir a senha d...         1
10923  gostaria que tirassem o apontamento no registr...         5
10924  sou cliente do banco bradesco e possuo um cheq...         1
10929  prezados acabei de ligar para a minha agência ...         5

                                       Relato_Lematizado
23     não consigir crédito pra fazer um empréstimo m...
41                  ja haver o pagamento de o negociacao
45     exclusao de o nome retirar negativacao de o no...
49     ser cliente de o c6 bank haver tempo sempre ma...
52     gostar de reclamar sobre esse dívida querer es...
...                                                  ...
10910  solicitar o retirada de o restrição de apontam...
10912  estar com dificuldade para redefinir o senha d...
10923  gostar que tirar o apontamento em o registrato...
10924  ser cliente de o banco bradesco e possuor um c...
10929  prezar acabar de ligar para o meu agência 1564...

[1920 rows x 4 columns]

In [99]:
dados_sem_sw = dados_financeiros.copy()

In [100]:
len(dados_financeiros['Relato'].iloc[0])

195

In [101]:
len(dados_financeiros['Relato_Lematizado'].iloc[0])

199

In [102]:
dados_financeiros.head()

,Empresa,Relato,Avaliacao,Relato_Lematizado
23,Caixa Econômica Federal,não consigo crédito pra fazer um empréstimo me...,3,não consigir crédito pra fazer um empréstimo m...
41,Nubank,ja houve o pagamento da negociacao,2,ja haver o pagamento de o negociacao
45,Nubank,exclusao do nome retirar negativacao do nome s...,1,exclusao de o nome retirar negativacao de o no...
49,C6 Bank,sou cliente do c6 bank há tempos sempre manten...,1,ser cliente de o c6 bank haver tempo sempre ma...
52,Nubank,gostaria de reclamar sobre essa dívida quer es...,5,gostar de reclamar sobre esse dívida querer es...

- Tratamento de StopWords

In [ ]:
from nltk.tokenize import word_tokenize


def tokenizando(texto):
 array_tokenizado = word_tokenize(texto)
 return array_tokenizado

In [114]:
dados_sem_sw['Relato_Lematizao_SW'] = dados_sem_sw['Relato_Lematizado'].map(lambda x: tokenizando(x))

In [115]:
# Stopwords em portugues
stopwords_PT = set(stopwords.words("portuguese"))

In [116]:
# Função para verificar se está com Stopwords no relato dos clientes - Utilizando list comprehension

def veriricaStopWord(texto):
 texto_filtrado = [palavra for palavra in texto if palavra not in stopwords_PT]
 return texto_filtrado

In [117]:
dados_sem_sw

,Empresa,Relato,Avaliacao,Relato_Lematizado,Relato_Lematizao_SW
23,Caixa Econômica Federal,não consigo crédito pra fazer um empréstimo me...,3,não consigir crédito pra fazer um empréstimo m...,"[não, consigir, crédito, pra, fazer, um, empré..."
41,Nubank,ja houve o pagamento da negociacao,2,ja haver o pagamento de o negociacao,"[ja, haver, o, pagamento, de, o, negociacao]"
45,Nubank,exclusao do nome retirar negativacao do nome s...,1,exclusao de o nome retirar negativacao de o no...,"[exclusao, de, o, nome, retirar, negativacao, ..."
49,C6 Bank,sou cliente do c6 bank há tempos sempre manten...,1,ser cliente de o c6 bank haver tempo sempre ma...,"[ser, cliente, de, o, c6, bank, haver, tempo, ..."
52,Nubank,gostaria de reclamar sobre essa dívida quer es...,5,gostar de reclamar sobre esse dívida querer es...,"[gostar, de, reclamar, sobre, esse, dívida, qu..."
...,...,...,...,...,...
10910,Banco Itaú Unibanco,solicitando a retirada da restrição de apontam...,4,solicitar o retirada de o restrição de apontam...,"[solicitar, o, retirada, de, o, restrição, de,..."
10912,Banco Itaú Unibanco,estou com dificuldade para redefinir a senha d...,1,estar com dificuldade para redefinir o senha d...,"[estar, com, dificuldade, para, redefinir, o, ..."
10923,C6 Bank,gostaria que tirassem o apontamento no registr...,5,gostar que tirar o apontamento em o registrato...,"[gostar, que, tirar, o, apontamento, em, o, re..."
10924,Banco Bradesco,sou cliente do banco bradesco e possuo um cheq...,1,ser cliente de o banco bradesco e possuor um c...,"[ser, cliente, de, o, banco, bradesco, e, poss..."
10929,Caixa Econômica Federal,prezados acabei de ligar para a minha agência ...,5,prezar acabar de ligar para o meu agência 1564...,"[prezar, acabar, de, ligar, para, o, meu, agên..."

In [149]:
dados_sem_sw['Relato_Lematizao_SW'] = dados_sem_sw['Relato_Lematizao_SW'].map(lambda x: veriricaStopWord(x))

In [150]:
dados_prontos = dados_sem_sw.copy()

In [151]:
# Remove numeros
def remove_numbers(tokens):
    return [word for word in tokens if not re.search(r'\d', word)]


# Aplicando a função no seu DataFrame
dados_prontos['Relato_Lematizao_SW'] = dados_prontos['Relato_Lematizao_SW'].apply(remove_numbers)

In [153]:
dados_prontos.sample(5)

,Empresa,Relato,Avaliacao,Relato_Lematizado,Relato_Lematizao_SW
10182,Banco Santander,quitei uma divida com um desconto que o propri...,3,quitar um divido com um desconto que o proprio...,"[quitar, divido, desconto, proprio, banco, for..."
2155,Nubank,olá gostaria que fizessem uma simulação corret...,1,olá gostar que fizer um simulação correto de o...,"[gostar, fizer, simulação, correto, fatura, ve..."
3344,Banco Inter (Banco Intermedium),meu nome continua com problemas pra conseguir ...,2,meu nome continuar com problema pra conseguir ...,"[nome, continuar, problema, conseguir, cartão,..."
10821,Mercado Pago,em 160924 fizemos uma compra de luvas no site ...,5,em 160924 fizemos um compra de luva em o site ...,"[fizemos, compra, luva, site, napoli, descartá..."
9492,C6 Bank,após uma recaída que levou meu filho pedro hac...,1,após um recaída que levar meu filho Pedro hach...,"[recaída, levar, filho, Pedro, hachiya, rangel..."

In [ ]:
# Adicionando novas Stopwords
stopwords_PT.update({'fiz', 'ja', 'olá', 'ter', 'dar', 'aqui', 'ir', 'dia', 'pra', 'uso', 'após', 'consigir', 'pois', 'abrir', 'pq'})

In [154]:
# Retirando colunas desnecessárias ao problema de negócio
dados_prontos.drop(columns={"Relato", "Avaliacao", "Relato_Lematizado"}, inplace=True)

In [156]:
dados_prontos.sample()

                  Empresa                                Relato_Lematizao_SW
7947  Banco Itaú Unibanco  [entrar, contato, banco, solicitar, revogação,...

In [157]:
dados_prontos.to_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_Frequency.csv',
                       sep =',', index = False, encoding = 'utf-8')