# <font color = 'red'> Analisando Sentimentos das reclamações</font>

In [1]:
!pip install -q textblob

In [1]:
# Imports
import os
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from textblob import TextBlob

import warnings
warnings.filterwarnings('ignore')

In [4]:
dados_sentimento = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/dados_financeiros_sentimentos.csv',
                       sep =',')

In [5]:
dados_sentimento.sample(5)

,Empresa,Relato
177,Banco do Brasil,prezado banco do brasil no dia 28 de outubro d...
996,Banco Inter (Banco Intermedium),eu queria solicitar a remoção do meu apontamen...
332,Caixa Econômica Federal,prezados estou entrando em contato para propor...
293,Mercado Pago,recebi diversas notificações para portabilidad...
745,Banco do Brasil,estive na agencia 6 meses para solicitar um cr...

In [6]:
dados_sentimento.shape

(1440, 2)

In [7]:
### Função para obter subjetividade
def subjetividade(text):
 return TextBlob(text).sentiment.subjectivity

In [8]:
# Função para obter polaridade
def polaridade(text):
 return TextBlob(text).sentiment.polarity

In [9]:
# Adicionando no DF
dados_sentimento['Subjetividade'] = dados_sentimento['Relato'].apply(subjetividade)
dados_sentimento['Polaridade'] = dados_sentimento['Relato'].apply(polaridade)

In [13]:
dados_sentimento.head(10)

,Empresa,Relato,Subjetividade,Polaridade
0,Nubank,recebi uma proposta do feirao serasa no valor ...,0.00,0.000
1,Nubank,quero um detalhamento dos juros que estão muit...,0.00,0.000
2,Nubank,venho expressar minha insatisfação em relação ...,0.75,0.375
3,Nubank,juros muito altos pagando muito mais do que o ...,0.00,0.000
4,Nubank,entrei em contato com a nubank pelo aplicativo...,0.00,0.000
5,Nubank,prezada equipe do nubank espero que esta mensa...,0.00,0.000
6,Nubank,deixei de pagar uma conta porem o juros foi al...,0.00,0.000
7,Caixa Econômica Federal,prezadoa venho solicitar com urgência a retira...,0.00,0.000
8,Nubank,quero renegociar mas com valores dentro da min...,0.00,0.000
9,Nubank,ofereceram um parcelamento da fatura do cartão...,0.00,0.000

In [14]:
dados_sentimento

,Empresa,Relato,Subjetividade,Polaridade
0,Nubank,recebi uma proposta do feirao serasa no valor ...,0.00,0.000
1,Nubank,quero um detalhamento dos juros que estão muit...,0.00,0.000
2,Nubank,venho expressar minha insatisfação em relação ...,0.75,0.375
3,Nubank,juros muito altos pagando muito mais do que o ...,0.00,0.000
4,Nubank,entrei em contato com a nubank pelo aplicativo...,0.00,0.000
...,...,...,...,...
1435,Banco Bradesco,ao pagar uma dívida com desconto banco enviou ...,0.00,0.000
1436,Banco Inter (Banco Intermedium),em 16102024 verifiquei o extrato do meu cartão...,0.00,0.000
1437,Banco Bradesco,desde o dia 01102024 contratei um financiament...,0.00,0.000
1438,Banco do Brasil,ao pagar dívidas que eu mesmo não reconhecia c...,0.00,0.000
1439,Nubank,possuía um cartão de credito nubank no ano de ...,0.00,0.000